@model MuseusUFJFCore.Models.Unit

@{
    ViewData["Title"] = "Detalhes de uma unidade";
}

<h2>Detalhes</h2>

<div>
    <h4>Unidade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UnitId">Editar</a> |
    <a asp-action="Index">Voltar para a lista de unidades</a>
</div>
